#btn-green {
  background-color: rgb(0, 153, 120);
  color: #fff;
  padding: 4px 0;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  text-align: center;
}

#btn-green:hover {
  background-color: rgb(0, 82, 64);
}